<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ohio State offers a rich landscape of 200+ majors and world-renowned instructors to guide you through them. ">
    <meta name="copyright" content="&copy; 2020 The Ohio State University" />
    <title>Majors - The Ohio State University</title>
    <!-- Ohio State webfonts -->
    <!--[if lte IE 8]>
    <link href="https://www.osu.edu/assets/fonts/webfonts-ie.css" rel="stylesheet">
    <![endif]-->
    <link href="//www.osu.edu/assets/fonts/webfonts.css" rel="stylesheet">
    <link href="/Content/images/osu-nav-bar/favicon.ico" rel="shortcut icon">
    <link href="/Content/images/osu-nav-bar/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="/bundles/commonStyles?v=a8M1mb-lf13Hdxuvxhmkc-iCbDjFjZQm8OS-1WSXQBQ1" rel="stylesheet"/>

    <script src="/bundles/modernizr?v=hKPJXpR09N1pdgM1-aB1qyWI5ox6LKmYUmzNBDmhYvE1"></script>

</head>
<body class="page-majors">
<div class="red--bg hidden-print">
    <div class="container">
        <!-- OSU Alert container -->
        <div id="buckeye_alert" hidden></div>
    </div>
</div>
<div class="dark--redred--bg hidden-print">
    <div class="container">
        <!-- OSU Alert container -->
        <div id="osas_alert" hidden></div>
    </div>
</div>
<!-- OSU Nav Bar -->
<div id="osu_navbar" role="navigation">
    <div class="container">
        <h2 class="osu-semantic">Ohio State nav bar</h2>
        <a href="#content" id="skip" class="osu-semantic">Skip to main content</a>
        <div class="row">
            <div class="col-xs-2 univ_info">
                <p class="univ_name"><a href="https://www.osu.edu" title="The Ohio State University">The Ohio State University</a></p>
            </div><!-- /univ_info -->
            <div class="col-xs-10 univ_links">
                <div class="links">
                    <ul>
                        <li><a href="https://www.osu.edu/help.php" class="help">Help</a></li>
                        <li><a href="http://buckeyelink.osu.edu/" class="buckeyelink">Buckeye Link</a></li>
                        <li><a href="https://www.osu.edu/map/" class="map">Map</a></li>
                        <li><a href="https://www.osu.edu/findpeople.php" class="findpeople">Find People</a></li>
                        <li><a href="https://email.osu.edu/" class="webmail">Webmail</a></li>
                        <li><a href="https://www.osu.edu/search/" class="search"><span class="linktext">Search Ohio State</span></a></li>

                    </ul>
                </div><!-- /links -->
            </div><!-- /univ_links -->
        </div>
    </div><!-- /container -->
</div><!-- /osu_navbar -->
<header id="masthead">
    <div class="container">

        <!-- Logo and site title -->

        <div class="row masthead">
            <div class="col-sm-3 col-md-5 col-sm-push-9 col-md-push-7">
                <a href="http://www.osu.edu/" class="logo">The Ohio State University</a>
            </div>
            <div class="col-sm-9 col-md-7 col-sm-pull-3 col-md-pull-5">
                <div class="title"><a href="/">Undergraduate Admissions</a></div>
            </div>
        </div>


        <!-- Global navigation w/ dropdown menus -->
        <nav class="navbar navbar-default bsmm" role="navigation">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-menu" aria-expanded="false">
                <span>Menu</span>
            </button>
            <div id="global-menu" class="navbar-collapse collapse">

                <div class="navbar-nav navbar-right wrap-search-form">
                    <form id="search-form" action="/search" method="post" role="search" class="inline-form search-form">
                        <input name="__RequestVerificationToken" type="hidden" value="DfrO8ggnkiuXgaJarDgJaGbwHkqSYYCIFJpyMubs3uiCyxmw131Vs-eFXizcJpci7t5z7twKWaP65dQZfZWnbQr7hx-2Xw2QfWsKF_ksWrhIOz7ML8RWEUikKhRDCzSpCKRWia6xTSx7hPI6_fZjog2" />
                        <fieldset>
                            <legend class="is-vishidden">Search</legend>
                            <label for="search-field" class="is-vishidden">Search Undergraduate Admissions</label>
                            <span class="wrap-search-input">
            <input name="q" type="search" placeholder="Search Undergraduate Admissions" id="search-field" class="search-field" />
        </span>
                            <button class="search-submit">
                                GO
                                <span class="is-vishidden">Search</span>
                            </button>
                        </fieldset>
                    </form>

                </div>




                <ul class="nav navbar-nav navbar-left" role="menu" aria-label="functions" id="appmenu">
                    <li class="dropdown             active
">
                        <a href="        #
"         class="dropdown-toggle js-activated" data-toggle="dropdown"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Majors + academics</a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/majors-and-academics" class="">Majors + academics</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/majors-and-academics/majors" class="">Majors</a>
                            </li>
                            <li>
                                <a href="/majors-and-academics/undecided" class="">Undecided?</a>
                            </li>
                            <li>
                                <a href="/majors-and-academics/more-ways-to-explore" class="">More ways to explore majors</a>
                            </li>
                            <li>
                                <a href="/majors-and-academics/academic-communities" class="">Academic communities</a>
                            </li>
                            <li>
                                <a href="/majors-and-academics/resume-builders" class="">Resume builders</a>
                            </li>
                            <li>
                                <a href="/majors-and-academics/guidance-and-prep" class="">Guidance and preparation</a>
                            </li>
                            <li>
                                <a href="/majors-and-academics/quick-facts" class="">Quick facts</a>
                            </li>
                        </ul>

                    </li>
                    <li class="dropdown ">
                        <a href="        #
"         class="dropdown-toggle js-activated" data-toggle="dropdown"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Life on campus</a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/life-on-campus" class="">Life on campus</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/life-on-campus/get-active-get-involved" class="">Get active, get involved</a>
                            </li>
                            <li>
                                <a href="/life-on-campus/we-love-columbus" class="">We love Columbus</a>
                            </li>
                            <li>
                                <a href="/life-on-campus/find-support" class="">Find support</a>
                            </li>
                            <li>
                                <a href="/life-on-campus/residence-halls" class="">Residence halls</a>
                            </li>
                            <li>
                                <a href="/life-on-campus/rich-diversity" class="">Rich diversity</a>
                            </li>
                            <li>
                                <a href="/life-on-campus/spirit-and-tradition" class="">Spirit and tradition</a>
                            </li>
                        </ul>

                    </li>
                    <li class="dropdown ">
                        <a href="        #
"         class="dropdown-toggle js-activated" data-toggle="dropdown"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Cost + aid</a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/cost-and-aid" class="">Cost + aid</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/cost-and-aid/ohio-state-value" class="">The Ohio State value</a>
                            </li>
                            <li>
                                <a href="/cost-and-aid/basic-costs" class="">Basic costs</a>
                            </li>
                            <li>
                                <a href="/cost-and-aid/financial-aid" class="">Financial aid</a>
                            </li>
                            <li>
                                <a href="/cost-and-aid/merit-based-scholarships" class="">Merit-based scholarships</a>
                            </li>
                        </ul>

                    </li>
                    <li class="dropdown ">
                        <a href="/visit"         style="cursor:pointer"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Visit</a>


                    </li>
                    <li class="dropdown ">
                        <a href="        #
"         class="dropdown-toggle js-activated" data-toggle="dropdown"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Apply</a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/apply" class="">Apply</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/apply/freshmen-columbus" class="">Freshmen – Columbus</a>
                            </li>
                            <li>
                                <a href="/apply/freshmen-regional" class="">Freshmen – Regional </a>
                            </li>
                            <li>
                                <a href="/apply/transfer" class="">Transfer students</a>
                            </li>
                            <li>
                                <a href="/apply/international-freshmen" class="">International freshmen</a>
                            </li>
                            <li>
                                <a href="/apply/international-transfer" class="">International transfer students</a>
                            </li>
                            <li>
                                <a href="/apply/information-for-veterans" class="">Information for veterans</a>
                            </li>
                            <li>
                                <a href="/apply/other-types-of-applicants" class="">Additional types of applicants</a>
                            </li>
                        </ul>

                    </li>
                    <li class="dropdown ">
                        <a href="        #
"         class="dropdown-toggle js-activated" data-toggle="dropdown"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Regional campuses</a>

                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="/regional-campuses" class="">Regional campuses</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/regional-campuses/right-fit" class="">Your future starts here</a>
                            </li>
                            <li>
                                <a href="/regional-campuses/admission" class="">Admission</a>
                            </li>
                            <li>
                                <a href="/regional-campuses/lima" class="">Ohio State Lima</a>
                            </li>
                            <li>
                                <a href="/regional-campuses/mansfield" class="">Ohio State Mansfield</a>
                            </li>
                            <li>
                                <a href="/regional-campuses/marion" class="">Ohio State Marion</a>
                            </li>
                            <li>
                                <a href="/regional-campuses/newark" class="">Ohio State Newark</a>
                            </li>
                            <li>
                                <a href="/regional-campuses/ati" class="">Ohio State ATI in Wooster</a>
                            </li>
                        </ul>

                    </li>
                    <li class="dropdown ">
                        <a href="/contact-us"         style="cursor:pointer"
                           aria-expanded="false" role="menuitem" aria-haspopup="true">Contact us</a>


                    </li>
                </ul>


                <div class="navbar-right visible-sm-block">
                    <a href="#" class="nav-toggle nav-toggle-search nav-toggle-search-close fa fa-search"><span class="is-vishidden">Close Search</span></a>
                </div>
            </div>
        </nav>



    </div><!-- /container -->
</header><!-- end #masthead -->

<div class="container-fluid article-header">
    <div class="container">
        <div class="row header">
            <div class="col-xs-12">
                <div class="header-left">
                    <div class="header-content">
                        <h1>Majors</h1>
                        <p>Ohio State offers a rich landscape of 200+ majors and world-renowned instructors to guide you through them. </p>
                    </div>
                </div>
                <div class="header-right" style="background-image: url(/Images1/majors_header_image.png);">
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content">
    <div class="container">




        <script type="text/javascript">
            var majorToolUrl = "/majors-and-academics/majors";
        </script>

        <article class="primary">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Article stye wrapper -->
                    <div class="row">
                        <div class="col-sm-9">

                            <div class="wrap-breadcrumbs">
                                <ul class="breadcrumbs" aria-label="Breadcrumb">
                                    <li><a href='/majors-and-academics'>Majors + academics</a></li><li><a href='/majors-and-academics/majors'>Majors</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-3 visible-md-block visible-lg-block">
                            <!-- Article Tools -->
                            <div class="tools">
                                <section class="article-tools">
                                    <ul class="article-tool-list">
                                        <li><a class="article-tool print" href="#" title="Print this page"><i class="fa fa-print"></i>Print</a></li>
                                        <li><a class="article-tool email" href="mailto:askabuckeye@osu.edu" title="Email us: askabuckeye@osu.edu"><i class="fa fa-envelope"></i>Email</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <!-- Primary content -->
                        <div class="col-md-3">
                            <!-- Sub Navigation -->
                            <section class="section-nav" role="navigation">



                                <nav class="side-nav">
                                    <ul class="nav-list">
                                        <li class="            active
">
                                            <a aria-current = 'page' href="/majors-and-academics/majors">Majors</a>
                                        </li>
                                        <li class="">
                                            <a  href="/majors-and-academics/undecided">Undecided?</a>
                                        </li>
                                        <li class="">
                                            <a  href="/majors-and-academics/more-ways-to-explore">More ways to explore majors</a>
                                        </li>
                                        <li class="">
                                            <a  href="/majors-and-academics/academic-communities">Academic communities</a>
                                        </li>
                                        <li class="">
                                            <a  href="/majors-and-academics/resume-builders">Resume builders</a>
                                        </li>
                                        <li class="">
                                            <a  href="/majors-and-academics/guidance-and-prep">Guidance and preparation</a>
                                        </li>
                                        <li class="">
                                            <a  href="/majors-and-academics/quick-facts">Quick facts</a>
                                        </li>
                                    </ul>
                                </nav>


                                <div class="callouts-wrapper">

                                </div>

                            </section>
                        </div>
                        <div class="primary-main               col-md-9
">


                            <div id="majorsTool" class="row">
                                <p id="majorFilterUpdate" class="sr-only" role="status" aria-live="polite" aria-relevant="additions removals"></p>
                                <div class="col-md-12">
                                    <div id="search-bar">
                                        <div class="form-group">
                                            <label for="search">Search</label>
                                            <autocomplete name="search"
                                                          url="searchApiUrl"
                                                          anchor="Name"
                                                          class="form-control"
                                                          label="Preview"
                                                          limit="5"
                                                          placeholder="Search by keyword"
                                                          model="name">
                                            </autocomplete>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-2">
                                            <button class="btn btn-primary filter-checkboxes" data-toggle="collapse" data-target="#belowFilters" aria-expanded="false" aria-controls="searchFilters">Filter by <i class="fa fa-chevron-down" aria-hidden="true"></i><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="col-xs-6 col-md-2 col-md-push-8">
                                            <div class="btn-group radio-toggle pull-right">
                                                <label class="btn btn-primary" class="{'active': selectedLayout == 'block'}">
                                                    <input type="radio" id="layout-block" v-model="selectedLayout" value="block" autocomplete="off" checked><i class="fa fa-th" aria-hidden="true"></i>
                                                </label>
                                                <label class="btn btn-primary" class="{'active': selectedLayout == 'block-row'}">
                                                    <input type="radio" id="layout-row" v-model="selectedLayout" value="block-row" autocomplete="off"><i class="fa fa-list" aria-hidden="true"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8 col-md-pull-2 remove-filters">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button class="btn btn-primary btn-block" v-on:click="selectedPrograms = []" v-show="selectedPrograms.length != 0"><i class="fa fa-times-circle" aria-hidden="true"></i> Programs ({{selectedPrograms.length}})</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-primary btn-block" v-on:click="selectedDegrees = []" v-show="selectedDegrees.length != 0"><i class="fa fa-times-circle" aria-hidden="true"></i> Degrees ({{selectedDegrees.length}})</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button class="btn btn-primary btn-block" v-on:click="selectedCampuses = []" v-show="selectedCampuses.length != 0"><i class="fa fa-times-circle" aria-hidden="true"></i> Campuses ({{selectedCampuses.length}})</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row collapse" id="belowFilters">
                                                <div class="col-md-8 col-sm-6">
                                                    <div class="checkbox well">
                                                        <h4>College/School:</h4>
                                                        <div class="row">
                                                            <fieldset>
                                                                <legend class="sr-only">College/School:</legend>
                                                                <div class="col-sm-6">
                                                                    <label class="checkbox" v-for="program in programsOne">
                                                                        <input type="checkbox" value="{{program.Name}}" v-model="selectedPrograms"> {{program.Name}}
                                                                    </label>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="checkbox" v-for="program in programsTwo">
                                                                        <input type="checkbox" value="{{program.Name}}" v-model="selectedPrograms"> {{program.Name}}
                                                                    </label>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                    <fieldset>
                                                        <legend class="sr-only">Degrees:</legend>
                                                        <div class="checkbox well">
                                                            <h4>Degrees:</h4>
                                                            <label class="checkbox" v-for="degree in degrees">
                                                                <input type="checkbox" value="{{degree.Name}}" v-model="selectedDegrees"> {{degree.Name}} <span v-show="degree.Descrformal != null">({{degree.Descrformal}})</span>
                                                            </label>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <legend class="sr-only">Campuses:</legend>
                                                        <div class="checkbox well">
                                                            <h4>Campuses:</h4>
                                                            <label class="checkbox" v-for="campus in campuses">
                                                                <input type="checkbox" value="{{campus.Name}}" v-model="selectedCampuses"> {{campus.Name}}
                                                            </label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-h" v-show="selectedLayout == 'block-row'">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>Major</th>
                                                        <th>Degree</th>
                                                        <th>Campus</th>
                                                        <th>College/School</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="major in majors | by-program-degree-campus selectedPrograms selectedDegrees selectedCampuses">
                                                        <td><a href="http://undergrad.osu.edu/majors-and-academics/majors/detail/{{major.Id}}">{{ major.Name }}</a></td>
                                                        <td>{{major.Degree}}</td>
                                                        <td>{{major.Campus}}</td>
                                                        <td>{{major.School}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <div class="grid-item {{selectedLayout}}" v-show="selectedLayout == 'block'" v-for="major in majors | by-program-degree-campus selectedPrograms selectedDegrees selectedCampuses" >
                                            <a href="http://undergrad.osu.edu/majors-and-academics/majors/detail/{{major.Id}}">
                                                <div>
                                                    <p class="title">{{ major.Name }}</p>
                                                    <p class="preview">{{ major.Preview }}</p>
                                                    <div class="footer">
                                                        <p class="degree" v-if="major.Degree"><strong>Degree:</strong>{{major.Degree}}</p>
                                                        <p class="school"><strong>{{major.ProgramType}}:</strong>{{major.School}}</p>
                                                        <p class="campus"><strong>Campus:</strong>{{major.Campus}}</p>
                                                    </div>
                                                </div>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Navigation at the bottom of a landing page-->

                            <!--Navigation at the bottom of a landing page for next level-->
                            <nav class="landing-nav" role="navigation">
                            </nav>

                        </div>
                        <div class="col-md-3 col-callouts">
                            <div class="callouts-wrapper">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

    </div>
</section>

<!-- Begin Footer -->

<footer id="page-footer" role="contentinfo">
    <div class="container">
        <div id="footer-info" class="row">

            <div id="institutional-info" class="col-sm-6">

                <a href="http://www.osu.edu/" class="wordmark">The Ohio State University</a>
                <p>
                    &copy; 2020, Undergraduate Admissions | Office of Student Academic Success | Student Academic Services Building | 281 W. Lane Ave., Columbus, OH 43210
                </p>
                <p>
                    <a href="Mailto:ESUE-Webadmiss@osu.edu?Subject=Undergraduate Admissions website">Webmaster</a>
                    &nbsp;|&nbsp;
                    <a href="https://equity.osu.edu/sites/default/files/policy110-non-discrimination-notice.pdf" class="no-icon" target="_blank">Nondiscrimination notice</a>
                    &nbsp;|&nbsp;
                    <a href="https://dps.osu.edu/clery-act " class="no-icon" target="_blank">Annual Security Report</a>
                </p>
            </div><!-- /institutional_info -->
            <div id="footer-social" class="col-sm-offset-2 col-sm-4">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/osu" target="_blank"><i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ohiostate" target="_blank"><i class="fa fa-3x fa-twitter-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/OhioStateUniversity" target="_blank"><i class="fa fa-3x fa-youtube-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/theohiostateuniversity/" target="_blank"><i class="fa fa-3x fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div><!-- /footer_social -->

        </div><!-- /footer_info -->
    </div><!-- /container -->
</footer><!-- /page_footer -->
<!-- End Footer -->


<div id="stickyFooter">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-inline st-nav">
                    <li>
                        <div class="dropup">
                            <p id="dropdownMenuLanding" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SELECT STUDENT TYPE</p>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLanding">
                                <li><a href="/welcome/freshmen">Incoming freshmen</a></li>
                                <li><a href="/welcome/transfers">Transfer students</a></li>
                                <li><a href="/welcome/international">International students</a></li>
                                <li><a href="/welcome/veterans">Veterans</a></li>
                                <li><a href="/welcome/counselors">High school counselors</a></li>
                                <li><a href="/welcome/parents">Parents</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/visit">VISIT</a></li>
                    <li><a href="/apply">APPLY</a></li>
                    <li><a href="/contact-us">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var sessionId = "2a3inymzsrzcxb4hiu2ruplf";
</script>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKJSHG"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKJSHG');
</script>
<!-- End Google Tag Manager -->
<script src="/bundles/vendor?v=dnqDTTox8P0Vt2XshxBSHWujz1xLoNArpiEPALKehw01"></script>

<script src="/bundles/scripts?v=cKcGgVVu68iIdUf5P1HX3fNn1A_6J8OOFuHvYJD1ggY1"></script>



<script>
    $(function() {
        $("#buckeye_alert").buckeyeAlert({
            url: "//www.osu.edu/feeds/emergency-alert.rss",
            //url: "//www.osu.edu/feeds/alert-test/feed.rss",
            messageClass: "container"
        });
        $("#osas_alert").osasAlert({
            url: "//undergrad.osu.edu/public/feeds/feed.rss",
            messageClass: "container"
        });
    });
</script>



</body>
</html>
